In [1]:
import pandas as pd
import numpy as np
# import re

In [2]:
path = "C:\\Users\\anatl\\JupyterNotebooks\\IntroToDataScience\\"
filename = "patient_nutrition_data.csv"

datafile =  path + filename

In [3]:
df = pd.read_csv(datafile)
df[1:25]

            id      t_date  day_num   EN   PN     NG
1   1340777037  04/01/2012        2  yes  NaN   60.0
2   1340777037  05/01/2012        3  yes  NaN   10.0
3   1340777037  06/01/2012        4  yes  NaN   65.0
4   1340777037  07/01/2012        5  yes  NaN   30.0
5   1341403784  29/01/2012        1  yes  NaN    NaN
6   1341403784  30/01/2012        2  yes  NaN   10.0
7   1341403784  31/01/2012        3  yes  NaN   50.0
8   1341403784  01/02/2012        4  yes  NaN  100.0
9   1341403784  02/02/2012        5  yes  NaN    NaN
10  1341403784  03/02/2012        6  yes  NaN   25.0
11  1341403784  04/02/2012        7  yes  NaN   20.0
12  1341403784  05/02/2012        8  yes  NaN    5.0
13  1341403784  06/02/2012        9  yes  NaN    NaN
14  1341403784  07/02/2012       10  yes  NaN   20.0
15  1341403784  08/02/2012       11  yes  NaN   40.0
16  1341403784  09/02/2012       12  NaN  NaN   40.0
17  1341402090  18/01/2012        1  yes  NaN    NaN
18  1341402090  19/01/2012        2  yes  NaN   20.0
19  1341402090  20/01/2012        3  yes  NaN    NaN
20  1341402090  21/01/2012        4  yes  NaN  105.0
21  1341402090  22/01/2012        5  yes  NaN   65.0
22  1341402090  23/01/2012        6  yes  NaN    NaN
23  1341402090  24/01/2012        7  yes  NaN    NaN
24  1341402090  25/01/2012        8  yes  NaN   20.0

### הקוד הבא מבצע אגרגציה של הנתונים מרמת אירועים לרמת החולה
#### כל האירועים של חולה מסוים יקובצו לשורה אחת שכוללת:
<li>מספר ימי אשפוז
<li>list of all EN values
<li>list of all PN values
<li>list of all NG values
<br>
<p> לאחר מכן נקצה שמות חדשים לעמודות ונדפיס את הטבלה החדשה </p>

In [24]:
# patient_level_df = df.groupby(['id']).agg(
# {
#     'day_num' : "last","count", # / mean / median / sum / count
#     'EN': lambda x: list(x),
#     'PN': lambda x: list(x),
#     'NG': lambda x: list(x)
    
# }).reset_index()
    
patient_level_df = df.groupby(['id']).agg(
{
    'day_num' : ["count","mean","median","sum"] , #"last",   #"count", # / mean / median / sum / count
    'EN': lambda x: list(x),
    'PN': lambda x: list(x),
    'NG': lambda x: list(x)
    
}).reset_index()
    

# patient_level_df.columns = ['id','numOfdays',"ENs","PNs","NGs"]

patient_level_df

             id day_num                    \
                  count  mean median  sum
0    1340775941       4   2.5    2.5   10
1    1340776769      19  10.0   10.0  190
2    1340777037       5   3.0    3.0   15
3    1340778026      13   7.0    7.0   91
4    1341400137      29  15.0   15.0  435
..          ...     ...   ...    ...  ...
102  1345403047      27  14.0   14.0  378
103  1345403121      24  13.5   13.5  324
104  1345403613       3   2.0    2.0    6
105  1345403706       4   2.5    2.5   10
106  1345403771      26  13.5   13.5  351

                                                    EN  \
                                              <lambda>
0                                 [yes, yes, yes, yes]
1    [yes, yes, yes, yes, yes, yes, yes, yes, yes, ...
2                            [yes, yes, yes, yes, yes]
3    [nan, nan, yes, yes, yes, nan, nan, nan, nan, ...
4    [yes, yes, yes, yes, yes, yes, yes, yes, yes, ...
..                                                 ...
102  [yes, yes, yes, yes, yes, yes, yes, yes, yes, ...
103  [yes, yes, yes, yes, yes, yes, yes, yes, yes, ...
104                                    [nan, nan, nan]
105                               [nan, nan, yes, yes]
106  [yes, yes, yes, yes, yes, yes, yes, yes, yes, ...

                                                    PN  \
                                              <lambda>
0                                 [nan, nan, nan, nan]
1    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
2                            [nan, nan, nan, nan, nan]
3    [nan, yes, yes, nan, yes, yes, yes, yes, yes, ...
4    [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
..                                                 ...
102  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
103  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
104                                    [nan, nan, nan]
105                               [nan, nan, nan, nan]
106  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

                                                    NG
                                              <lambda>
0                             [nan, 110.0, 10.0, 10.0]
1    [640.0, 150.0, 220.0, 30.0, 160.0, 450.0, 500....
2                       [20.0, 60.0, 10.0, 65.0, 30.0]
3    [nan, 400.0, 200.0, 770.0, 1250.0, nan, 160.0,...
4    [nan, 55.0, 10.0, 110.0, 50.0, 210.0, 130.0, 1...
..                                                 ...
102  [nan, 100.0, 510.0, 80.0, 350.0, 260.0, 210.0,...
103  [700.0, 550.0, 650.0, 200.0, 250.0, nan, 15.0,...
104                                    [nan, nan, nan]
105                         [nan, 300.0, 400.0, 400.0]
106  [nan, 190.0, nan, 70.0, 60.0, 115.0, nan, 60.0...

[107 rows x 8 columns]

### התא הבא כולל פונקציות שבאמצעותן נרצה להוסיף עמודות חדשות לטבלה החדשה על בסיס ערכי עמודות קיימים 
הקלטים לפונקציות הללו הם למעשה רשימות ערכים - כמו אלה שנוצרו בעמודות 
<br> ENs,PNs,NGs

In [80]:
def strToOneHot(vals):
    res = ""
    for val in vals:
        if val == "yes":
            res = res+ "1"
        else:
            res = res + "0"
    return (res)

def is_all_EN(vals):
    for val in vals:
        if(val != "yes"):
            return (False)
    return(True)

def is_all_nan(vals):
    for val in vals:
        if(val == "yes"):
            return (False)
    return(True)

def is_early_EN(vals, n):    
    #check if early ENs
    isEarlyENs = True
    for i in range(n):
        if(vals[i]!='yes'):
            isEarlyENs = False
            break
    isRestNull = True
    for i in range(n,len(vals)):
        if (vals[i]!='nan'):
            isRestNull = False
    return (isEarlyENs & isRestNull)

    
def is_late_EN(vals, n):     
    #check if early ENs
    isEarlyNans = True
    for i in range(n):
        if(vals[i]!="nan"):
            isEarlyNans = False
            break
    isRestENs = True
    for i in range(n,len(vals)):
        if (vals[i]!='yes'):
            isRestENs = False
    return (isEarlyNans & isRestENs)

def is_intermit(vals):
    if len(vals)<=2:
        return False
    prev = vals[1]
    pre_prev = vals[0]
    for i in range(2,len(vals)):
        if ((pre_prev == "yes")&(prev=="nan")&(vals[i]=="yes"))|((pre_prev == "nan")&(prev=="yes")&(vals[i]=="nan")):
            return True
        else:
            pre_prev = prev
            prev = vals[i]
    return False


def is_intermit_gen(vals,n):
    if len(vals)<=n:
        return False
    for i in range(len(vals)-n):
        cur = vals[i]
        found=True
        for j in range(i+1,n+i):
            if cur == vals[j]:
                found = False
                break
            else:
                cur = vals[j]
        if found:
            return True

    return False


def get_EN_pattern(vals):
    if is_all_EN(vals):
        return ("ALL_EN")
    elif is_early_EN(vals):
        return ("EARLY_EN")
    elif is_late_EN(vals):
        return ("LATE_EN")
    elif is_intermit(vals):
        return ("INTERMIT_EN")
    elif is_all_nan(vals):
        return ("ALL_NAN")
    else:
        return("OTHER")
    
    
def get_PN_pattern(vals):
    if is_all_EN(vals):
        return ("ALL_PN")
    elif is_early_EN(vals):
        return ("EARLY_PN")
    elif is_late_EN(vals):
        return ("LATE_PN")
    elif is_intermit(vals):
        return ("INTERMIT_PN")
    elif is_all_nan(vals):
        return ("ALL_NAN")
    else:
        return("OTHER")
    
    
def get_NG(vals):
    day = 0
    for val in vals:
        day = day+1
        if(float(val) >= 500):
            return (day)
    return(0)

In [81]:
### Code for testing the above functions:

a = ["yes","yes","nan","nan","yes"]
b = ["yes","yes","nan","nan","nan"]
c = ["nan","yes","nan","nan","yes"]
d = ["yes","yes","yes","yes","yes"]
e = ["yes","yes","yes","yes","nan"]
f = ["yes","yes","nan","yes","yes"]
i = ["nan","nan","nan","nan","nan"]



print(is_all_EN(d))
print(is_early_EN(b,2))
print(is_early_EN(a,2))
print(is_late_EN(d,2))
print(is_late_EN(f,2))
print(is_intermit(f))
print(is_intermit_gen(f,3))
print(is_all_nan(i))

True
True
False
False
False
True
True
True

True

### Adding new columns using the above functions### adding new columns using the above functions
#### There are two approaches presented here. The one that is in comment is suitable when the function receives several columns of the DF as input

In [33]:
patient_level_df['EN'] = patient_level_df['ENs'].apply(get_EN_pattern) #patient_level_df.apply(lambda row: get_EN_pattern(row.ENs),axis=1)
patient_level_df['PN'] = patient_level_df['PNs'].apply(get_PN_pattern)  #patient_level_df.apply(lambda row: get_PN_pattern(row.PNs),axis=1)
patient_level_df['NG'] = patient_level_df['NGs'].apply(get_NG) #patient_level_df.apply(lambda row: get_NG(row.NGs),axis=1)

In [24]:
patient_level_df

,id,numOfdays,ENs,PNs,NGs,EN,PN,NG
0,1340775941,4,"[yes, yes, yes, yes]","[nan, nan, nan, nan]","[nan, 110.0, 10.0, 10.0]",ALL_EN,ALL_NAN,0
1,1340776769,19,"[yes, yes, yes, yes, yes, yes, yes, yes, yes, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[640.0, 150.0, 220.0, 30.0, 160.0, 450.0, 500....",INTERMIT_EN,ALL_NAN,1
2,1340777037,5,"[yes, yes, yes, yes, yes]","[nan, nan, nan, nan, nan]","[20.0, 60.0, 10.0, 65.0, 30.0]",ALL_EN,ALL_NAN,0
3,1340778026,13,"[nan, nan, yes, yes, yes, nan, nan, nan, nan, ...","[nan, yes, yes, nan, yes, yes, yes, yes, yes, ...","[nan, 400.0, 200.0, 770.0, 1250.0, nan, 160.0,...",INTERMIT_EN,INTERMIT_PN,4
4,1341400137,29,"[yes, yes, yes, yes, yes, yes, yes, yes, yes, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, 55.0, 10.0, 110.0, 50.0, 210.0, 130.0, 1...",ALL_EN,ALL_NAN,23
...,...,...,...,...,...,...,...,...
102,1345403047,27,"[yes, yes, yes, yes, yes, yes, yes, yes, yes, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, 100.0, 510.0, 80.0, 350.0, 260.0, 210.0,...",ALL_EN,ALL_NAN,3
103,1345403121,25,"[yes, yes, yes, yes, yes, yes, yes, yes, yes, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[700.0, 550.0, 650.0, 200.0, 250.0, nan, 15.0,...",ALL_EN,ALL_NAN,1
104,1345403613,3,"[nan, nan, nan]","[nan, nan, nan]","[nan, nan, nan]",ALL_NAN,ALL_NAN,0
105,1345403706,4,"[nan, nan, yes, yes]","[nan, nan, nan, nan]","[nan, 300.0, 400.0, 400.0]",LATE_EN,ALL_NAN,0
106,1345403771,26,"[yes, yes, yes, yes, yes, yes, yes, yes, yes, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, 190.0, nan, 70.0, 60.0, 115.0, nan, 60.0...",OTHER,ALL_NAN,9

### Note: using apply on dataframe columns (series) exploits vectorization capabilities which allow paralel computation
This is much faster compared to using loops for going over each row (~50-100 times faster) !!

https://datascience.blog.wzb.eu/2018/02/02/vectorization-and-parallelization-in-python-with-numpy-and-pandas/

In [34]:
patient_level_df.to_csv(path + "patient_level.csv", index = False, header=True)